<html>
<head>
	<title>เปิดแล้วหลักสูตร NodeJS for Enterprise</title>
</head>
<body>
<h2>เรียน คุณ {{name}}</h2>

<p>เปิดแล้วหลักสูตร NodeJS for Enterprise ราคา 2,500 บาทเท่านั้น วันที่ 30-31 มค นี้</p>
<p>สถานที่ : มหาวิทยาลัยกรุงเทพ วิทยาเขตกล้วยน้ำไท อาคาร 9  รายละเอียดห้องจะแจ้งให้ทราบอีกครัง</p>
<p><a href="https://www.eventpop.me/e/262">รายละเอียด</a></p>

<p>ขอแสดงความนับถืออย่างสูง</p>

<p><img alt="" src="https://scontent-kul1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/988597_844575955629943_2726801603942404389_n.jpg?oh=88e5ddf7c977bbd55ffbe6143417cf51&amp;oe=56FF4D58" style="width: 100px; height: 100px;" /></p>
</body>
</html>
